body{
	background-color: rgb(19, 6, 6);
	height: 600px;
	margin: 0px;
	padding: 5px;
	padding-right: 0px;
	border: 8px solid rgb(52, 46, 46);
}
.mine ul{
	padding: 0px;
	margin:0px;
	text-align: center;
	list-style-type: none;
}
.mine{
	background-color: rgb(52, 46, 46);
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	
}
.mine li{
	display: inline;
	margin-left: 70px;
	float: right;
	margin-right: 20px;
}
.mine a{
	color:antiquewhite;
}
a:hover{
	background-color:rgb(26, 26, 10);
	display: block;
	width: 150px;
	height: 30px;
}
.new {
	background-color: rgb(30, 13, 3);
	display: inline;
	color: rgb(253, 208, 148);
	font-size: 20px;
}
.photo{
	height: 550px;
	width: 50%;
	float: right;
	margin: 5px;
}
.text{
	color: white;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 20px;
	margin-right: 10px;
}
.color{
	color: rgb(223, 213, 23);
}
.down{
	background-color: rgb(8, 12, 11);
	margin: 0px 0px 0px 0px;
	padding: 5px;
	padding-right: 5px;
	border: 8px solid rgb(52, 46, 46);
	height: 170px;
}
.second{
    color:rgb(127, 108, 108);
	font-size: 17px;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	padding-top: 50px;

}
.first{
color:rgb(127, 108, 108);
	font-size: 17px;
	float: left;
	margin: 20px;
	padding-top: 40px;
}